body {
  padding: 0;
  margin: 0;
  background-color: #e2ecf7;
  font-family: Verdana;
}

#menu {
  width: 500px;
  height: auto;
  margin-top: calc(40vh - 250px);
  position: absolute;
}

#home {
  text-align: center;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.bar {
  width: 150px;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #6f9fd8;
  transition: margin-left 0.2s;
  margin-left: -400px;
  text-align: center;
  color: #f6f9fd;
  font-family: Helvetica;
  line-height: 80px;
}

.bar:hover {
  background-color: #2a5c9a; 
}

.bar:hover:after {
  content: "";
}

.bar--toggle {
  margin-left: 0;
}

.bar:nth-child(2){
  transition-delay: 0.2s;
}

.bar:nth-child(3){
  transition-delay: 0.4s;
}

.bar:nth-child(4){
  transition-delay: 0.2s;
}

#btn {
  all: unset;
  position: absolute;
  top: 20px;
  left: 10px;
}

#btn:hover .fa-bars {
  color: lightskyblue;
}

.fa-bars {
  font-size: 30px;
  transition: color 0.3s;
}
